.orderPlacedWrapper {
  font-family: 'Exo', sans-serif;
}

.section--op-print,
.section--bank-invoice,
.customerInfoListEmail,
.customerInfoListDocument,
.customerInfoListPhone,
.packageShippingEstimate,
.packageSLA {
  display: none;
}

.orderPlacedWrapper {
  padding-top: 65px;
  padding-bottom: 77px;
}

.confirmationIconWrapper::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40' fill='none'%3E%3Cpath d='M39.0291 17.6428L36.301 14.9153C35.6535 14.2678 35.1229 12.9883 35.1229 12.0707V8.21317C35.1229 6.37818 33.6239 4.87912 31.7894 4.87815H27.9303C27.0138 4.87815 25.7328 4.34659 25.0852 3.69961L22.3576 0.972016C21.0616 -0.324005 18.9396 -0.324005 17.6436 0.972016L14.916 3.70156C14.2679 4.34903 12.9855 4.87912 12.0709 4.87912H8.21342C6.38086 4.87912 4.87986 6.37818 4.87986 8.21317V12.0708C4.87986 12.9847 4.34938 14.2683 3.70181 14.9154L0.973725 17.6429C-0.323273 18.939 -0.323273 21.061 0.973725 22.3591L3.70181 25.0866C4.34977 25.7341 4.87986 27.0172 4.87986 27.9312V31.7888C4.87986 33.6219 6.38086 35.1229 8.21342 35.1229H12.071C12.9875 35.1229 14.2685 35.6534 14.9161 36.3004L17.6437 39.029C18.9397 40.3241 21.0617 40.3241 22.3577 39.029L25.0853 36.3004C25.7334 35.653 27.0139 35.1229 27.9304 35.1229H31.7895C33.624 35.1229 35.123 33.6219 35.123 31.7888V27.9312C35.123 27.0132 35.654 25.7337 36.3011 25.0866L39.0292 22.3591C40.3241 21.061 40.3241 18.9389 39.0291 17.6428ZM17.3546 27.5006L9.99997 20.1449L12.3571 17.7884L17.3552 22.7865L27.6439 12.5003L30.0004 14.8569L17.3546 27.5006Z' fill='%23225289'/%3E%3C/svg%3E");
}

.confirmationTitle {
  color: #225289;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  margin: 16px 0 24px;
}

.confirmationMessage {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  max-width: 558px;
  margin: 0 auto 32px;
}

.section--confirmation :global(.vtex-button) {
  border-radius: 39px;
  border: 0;
  background: transparent;
  min-height: initial;
  box-shadow: inset 0 0 0 1px #225289;
  padding: 8px 24px !important;
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
  text-transform: initial;
  transition: all 0.3s ease-in-out;
}

.section--confirmation :global(.vtex-button__label) {
  padding: 0 !important;
  color: inherit;
}

.orderPlacedMainWrapper {
  width: 100%;
  border-top: 1px solid #d9d9d9;
  margin: 60px 0 0;
}

.orderList {
  padding-top: 40px;
}

.orderNumber {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.orderSoldBy {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.orderSeller {
  color: #225289;
  font-weight: 700;
}

.orderOptionsWrapper :global(.vtex-button) {
  min-height: initial;
  border: 0;
  background: transparent;
  padding: 8px 24px;
  box-shadow: inset 0 0 0 1px #225289;
  border-radius: 39px;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: initial;
  transition: all 0.3s ease-in-out;
}

.section--confirmation :global(.vtex-button):hover,
.orderOptionsWrapper :global(.vtex-button):hover {
  background: #225289;
  color: #000;
}

.orderOptionsWrapper :global(.vtex-button__label) {
  padding: 0 !important;
  color: inherit;
}

.updateOrderButton,
.myOrdersButton {
  margin-right: 24px;
}

.cancelOrderButton :global(.vtex-button) {
  box-shadow: none;
  padding: 8px 0;
  color: #225289;
  font-weight: 400;
}

.cancelOrderButton :global(.vtex-button):hover {
  background: transparent;
  color: #225289;
  text-decoration: underline;
}

.customerInfoListName {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  padding: 24px 0 72px;
}

.section--paymentMethods {
  border-bottom: 1px solid #d9d9d9;
}

.orderPaymentItem {
  padding-bottom: 40px;
}

.orderPaymentItem :global(.vtex-button) {
  padding: 8px 24px;
  border-radius: 39px;
  background: #225289;
  border: 0;
  min-height: initial;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-transform: initial;
  transition: all 0.3s ease-in-out;
  border-radius: 39px;
}

.orderPaymentItem :global(.vtex-button):hover {
  background: #225289;
  color: #fff;
}

.orderPaymentItem :global(.vtex-button__label) {
  padding: 0 !important;
  color: inherit;
}

.paymentGroup {
  color: #1a1a1a;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0 0 16px;
}

.section--pickupPackages {
  border: 0;
}

.section--deliveryPackages {
  border-bottom: 1px solid #d9d9d9;
}

.package--delivery {
  margin: 40px 0;
}

.packageHeader {
  line-height: 25px;
  margin-bottom: 72px;
}

.packageDeliveryTitle {
  color: #1a1a1a;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
}

.addressContainer {
  color: #767676;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.productList {
  width: 50%;
}

.productImageColumn {
  margin: 0 8px 0 0;
}

.productImageWrapper {
  width: 84px;
  height: 84px;
}

.productName {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  max-width: 192px;
  width: 100%;
  max-height: 40px;
  height: auto;
  text-align: left;
  overflow: hidden;
}

.productQuantity {
  color: #767676;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.productPrice {
  color: #1a1a1a;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

.totalList {
  margin-top: 64px;
}

.totalListItem {
  padding: 0;
}

.totalListItem:not(:first-child) {
  margin-top: 16px;
}

.totalListItemLabel,
.totalListItemValue {
  color: #767676;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.totalListItem:last-child .totalListItemLabel,
.totalListItem:last-child .totalListItemValue {
  color: #1a1a1a;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

@media screen and (max-width: 991px) {
  .orderPlacedWrapper {
    padding-top: 30px;
  }

  .orderPlacedMainWrapper {
    margin: 24px 0 0;
  }

  .orderList {
    padding-top: 32px;
  }

  .orderNumber {
    font-size: 22px;
  }

  .customerInfoListName {
    padding: 20px 0;
  }

  .orderOptionsWrapper--mobile {
    justify-content: initial;
    margin-bottom: 30px;
  }

  .orderPaymentItem {
    padding-bottom: 24px;
  }

  .package--delivery {
    margin: 24px 0 0;
  }

  .packageHeader {
    margin-bottom: 10px;
  }

  .packageAddressWrapper {
    margin-bottom: 30px;
  }

  .productListItem {
    padding-bottom: 16px !important;
  }

  .productListItem:not(:last-child) {
    margin-bottom: 16px;
  }

  .productWrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .productName {
    font-size: 13px;
    max-width: 179px;
  }

  .productQuantity {
    display: none;
  }

  .productImageWrapper {
    width: 56px;
    height: 56px;
  }

  .productInfoColumn {
    display: flex;
    justify-content: center;
  }

  .productPrice {
    width: 100%;
    text-align: right;
    font-weight: 700;
    margin-top: 8px;
  }

  .totalList {
    margin-top: 30px;
  }
}

@media screen and (max-width: 767px) {
  .productList {
    width: 100%;
  }
}

@media screen and (max-width: 639px) {

  .updateOrderButton,
  .myOrdersButton {
    margin-right: 0;
  }

  .orderPaymentItem :global(.vtex-button) {
    width: 100%;
  }
}