.filter__container--title {
  display: none;
}
.totalProducts--layout,
.totalProductsMessage {
  color: #666666;
  font-weight: 400;
  font-size: 14px;
  text-transform: initial;
}
.totalProductsMessage {
  font-size: 0;
  line-height: 0;
}
.totalProductsMessage::before {
  content: "resultados";
  font-size: 14px;
}

.filterTemplateOverflow::-webkit-scrollbar {
  width: 5px
}

.filterTemplateOverflow::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a8a8a8
}

.filterTemplateOverflow::-webkit-scrollbar-thumb {
  background: #474747
}

.galleryTitle--layout {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 15px;
  color: #201F1F;
}
.galleryTitle--layout::first-letter {
  text-transform: uppercase;
}

.filter__container {
  border-color: #D9D9D9;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.filterMessage {
  margin: 0 0 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  padding: 10px;
}

.filterSelected {
  padding: 7px 10px;
}

.filterTemplateOverflow  {
  padding: 0;
}

.filterItem :global(.vtex-checkbox__line-container) {
  display: flex;
  align-items: center;
}
.filterItem :global(.vtex-checkbox__label),
.filter__container :global(.vtex-slider__left-value),
.filter__container :global(.vtex-slider__right-value) {
  font-size: 14px;
  line-height: 17px;
  color: #474747;
  font-weight: 400;
}

.productCount {
  color: #A8A8A8;
  font-size: 12px;
  line-height: 15px;
}

.filter,
.filterIcon {
  padding: 0;
}

.filter__container :global(.vtex-slider-container) {
  padding: 0 8px;
}
.filterContent,
.filter__container--priceRange .filterTemplateOverflow {
  margin-top: 24px;
}
.caretIcon {
  width: 10px;
  color: #D9D9D9;
}

.filter__container--priceRange :global(.vtex-search-result-3-x-filterTitleSpan) {
  font-size: 0;
}
.filter__container--priceRange :global(.vtex-search-result-3-x-filterTitleSpan)::after {
  content: 'Preço';
  font-size: 16px;
}
.filter__container--priceRange :global(.vtex-slider__selector) {
  background: #225289;
}
.filter__container--priceRange :global(.vtex-slider__base-internal) {
  background: #D9D9D9;
}

.filterPopupTitle {
  text-transform: initial;
  font-weight: 400;
  color: #3F3F3F;
}
.orderByText {
  font-weight: 700;
  color: #666666;
}
.orderByText::after {
  content: ":";
}

.totalProducts--layout,
.orderByButton {
  padding: 0;
}

.gallery--grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0;
  column-gap: 29px;
  row-gap: 40px;
}
.galleryItem {
  max-width: 100% !important;
  padding: 0;
}

.searchResultContainer :global(.vtex-flex-layout-0-x-flexRow--spot-price-summary-container) {
  margin: 0;
}
.searchResultContainer :global(.vtex-product-price-1-x-spotPrice) {
  margin-top: 15px;
  padding-top: 15px;
  border-top: 1px solid #CCCCCC;
}
.searchResultContainer :global(.vtex-flex-layout-0-x-flexRow--summary-action-container) {
  position: initial;
  opacity: 1;
  margin-top: 15px;
}

.showingProducts {
  color: #000;
  padding: 0;
}

.buttonShowMore :global(.vtex-button) {
  border: 1px solid #225289;
  color: #000;
  background-color: white;
  border-radius: 39px;
  font-weight: 700;
  font-size: 0;
  line-height: 17px;
  min-height: initial;
  transition: all .3s ease-in-out;
  text-transform: initial;
  padding: 8px 24px;
}
.buttonShowMore :global(.vtex-button__label) {
  padding: 0;
}
.buttonShowMore :global(.vtex-button__label)::before {
  content: 'Ver mais produtos';
  font-size: 14px;
}
.buttonShowMore :global(.vtex-button):hover {
  background: #225289;
  border: 1px solid #225289;
  color: #fff;
}
.progressBar {
  background-color: #D9D9D9;
  height: 2px;
}
.progressBarFiller {
  background-color: #225289;
  height: 2px;
}
/*página categoria*/
.filterItem:not(:first-child) {
  margin-top: 12px;
}
.filterTitleSpan {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}
.caretIcon {
  color:#8D8D8D;
}
.filterItem :global(.vtex-checkbox__container),
.filterItem :global(.vtex-checkbox__inner-container),
.filterItem :global(.vtex-checkbox__box-wrapper),
.filterItem :global(.vtex-checkbox__input) {
  width: 12px;
  height: 12px;
}
.filterItem :global(.vtex-checkbox__inner-container) {
  border-color: #a8a8a8;
  border-width: 1px;
  border-radius: 2px;
}
.filter__container--sku, .filter__container--ean {
  display: none;  
}
/*fim página de categoria*/
.searchNotFoundTerm {
  color: #225289;
}

.filterClearButtonWrapper :global(.vtex-button) {
  color: #225289;
}

@media (min-width: 1100px) {
  .filterItem :global(.vtex-checkbox__label) {
    max-width: 231px;
  }
}

@media (max-width: 1025px) {
  .orderByButton .caretIcon,
  .filterPopupButton .filterIcon {
    display: none;
  }
  .filterPopupArrowIcon {
    padding-right: 0;
  }
  
  .galleryTitle--layout {
    font-size: 22px;
    line-height: 28px;
  }
  .filterPopupButton .filterPopupArrowIcon::before,
  .orderByButton .filterPopupArrowIcon::before {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="14" viewBox="0 0 15 14" fill="none"><path d="M12.1667 5.13762L7.50004 9.66699L2.83337 5.13762L3.66171 4.33366L7.50004 8.05907L11.3384 4.33366L12.1667 5.13762Z" fill="%238D8D8D"/></svg>');
    line-height: 0;
  }

  .showingProducts {
    padding: 0 15px;
    text-align: left;
    margin-bottom: 24px;
  }
  .showingProductsCount {
    font-weight: 400;
  }
  
  .filterAccordionItemBox {
    padding-right: 0;
    min-height: initial;
  }
  .filterAccordionItemBox:not(:first-child) {
    padding-top: 15px;
  }
  .filterAccordionItemBox :global(.vtex-checkbox__label),
  .accordionFilterItemTitle {
    font-size: 14px;
  }
  .container--layout--search-result-layout {
    margin-bottom: 80px;
  }
  .accordionFilterContainer {
    padding-left: 16px;
  }
  .orderByDropdown,
  .accordionFilterContent {
    padding: 0;
  }

  .filterPopupTitle,
  .filterPopupArrowIcon {
    margin: 0;
    padding: 0;
    line-height: 0;
  }
  .filterPopupButton,
  .orderByButton {
    width: 100%;
    padding: 9px 20px;
    height: initial;
    justify-content: space-between;
    border: 1px solid #CDCCCC;
    border-radius: 0;
  }
  .filterPopupTitle {
    font-size: 16px;
    line-height: 20px;
    color: #8D8D8D;
  }

  .orderByText {
    display: none;
  }

  .gallery--grid {
    column-gap: 16px;
    row-gap: 24px;
  }

  .searchResultContainer :global(.vtex-product-price-1-x-spotPrice) {
    margin-top: 8px;
    padding-top: 8px;
    border-top: 1px solid #CCCCCC;
  }

  :global(.vtex-flex-layout-0-x-flexRow--total-produtos) .showingProducts {
    margin-bottom: 8px;
  }
  :global(.vtex-flex-layout-0-x-flexRow--total-produtos) .showingProductsCount {
    font-weight: 700;
  }
  .progressBar {
    margin: 0 auto 16px;
  }
}

@media screen and (max-width: 767px) {
  .filterBreadcrumbsText {
    font-size: 1.1rem;
  }
  .filterBreadcrumbsItemName {
    font-size: 1rem;
  }
}

@media screen and (max-width: 639px) {
  .gallery--grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  .gallery--grid {
    grid-template-columns: 1fr;
  }
}