.sellerHead,
.sellerList {
    margin: 0;
}
.sellerHead,
.sellerHead:hover {
    background: none;
}
.sellerHeadCell {
    width: 100% !important;
}
.sellerHeadText {
    padding: 0 0 12px;
    text-align: left;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
}
.sellerList {
    display: flex;
    gap: 8px;
    max-width: 426px;
    overflow-x: auto;
}
.sellerRow {
    display: flex;
    flex-direction: column;
    min-width: calc(100% / 2 - 4px);
    border: 1px solid #ECECEC;
    border-radius: 4px;
    padding: 16px;
}
:global(.vtex-store-components-3-x-productImage--seller-pdp) {
    text-align: center;
}
:global(.vtex-store-components-3-x-productImageTag--seller-pdp) {
    max-width: 106px;
}

.sellerName,
.sellerPrice,
.sellerBuyContainer {
    width: 100% !important;
}
.sellerName {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    color: #225289;
    padding: 8px 0;
}
.sellerName::before {
    content: "Vendido por:";
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    text-align: center;
    color: #666666;
}

.sellerPrice {
    padding: 0;
}
.currencyContainer {
    font-size: 14px;
    font-weight: 700;
    color: #3F3F3F;
}
:global(.vtex-product-price-1-x-installments--seller-pdp) {
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}

.sellerBuyContainer {
    padding: 0;
    margin-top: 8px;
}
.sellerBuyContainer :global(.vtex-button) {
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    padding: 6px;
    border: 0;
    transition: all .3s ease-in-out;
    border-radius: 41px;
    min-height: initial;
    background: #00724A;
}
.sellerBuyContainer :global(.vtex-button__label) {
    padding: 0 !important;
}

@media screen and (min-width: 20em) {
    .sellerHead {
        display: block;
    }
}

@media (max-width: 991px) {
    .sellerList {
        gap: 20px;
    }
    .sellerRow {
        min-width: calc(95% / 2 - 4px);
    }
}