.container {
  background: transparent;
}

.section--department {
  width: 100%;
  max-width: 100%;
  padding: 0;
}
.departmentList {
  width: 100%;
  justify-content: space-between;
  height: initial;
}
.departmentLink {
  padding: 9px 0;
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
.itemContainer--department:nth-child(n+8) {
  display: none;
}
.departmentLink,
.departmentLink:active,
.departmentLink:focus,
.departmentLink:hover,
.departmentLink:visited,
.firstLevelLink:active,
.firstLevelLink:focus,
.firstLevelLink:hover,
.firstLevelLink:visited,
.secondLevelLink:active,
.secondLevelLink:focus,
.secondLevelLink:hover,
.secondLevelLink:visited {
  outline: none;
  border: 0;
  text-decoration: none;
}
.firstLevelLink {
  color: #1E1E1E;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.secondLevelLink {
  padding: 12px;
  font-weight: 300;
}

.itemContainer--category {
  border: 0;
  box-shadow: 3px 3px 6px #00000014;
  overflow: auto;
}
.section--category {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px !important;
}
.submenuList {
  max-width: 100%;
    gap: 30px;
    justify-content: space-between;
}
.firstLevelList {
  padding: 0;
}

/* ITEM TODAS CATEGORIAS */
:global(.vtex-flex-layout-0-x-flexRow--menu-container) .itemContainer--department:first-child {
  padding: 9px 16px;
  display: flex;
  align-items: center;
  gap: 15px;
  background: #FFFFFF;
  border-radius: 1px;
  order: 2;
}
.itemContainer--department:first-child::before {
  content: url(assets/icons/menu.svg);
  line-height: 0;
}
.itemContainer--department:first-child::after {
  content: url(assets/icons/chevron-down.svg);
  line-height: 0;
}
.itemContainer--department:first-child .departmentLink {
  padding: 0;
  font-size: 0;
  line-height: 0;
}
.itemContainer--department:first-child .departmentLink::before {
  content: 'Categorias';
  font-size: 14px;
  font-weight: 700;
  color: #1E1E1E;
  line-height: 18px;
}

@media (max-width: 1199px) {
  .departmentLink {
    padding: 12.5px 40px;
  }
}

@media (max-width: 1024px) {
  .menuIcon--mobile-menu-container {
    margin: -12px;
  }
}