/* CARD PRODUTO */
.currencyContainer--selling-price-summary {
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  color: #1E1E1E;
}
.installments--installments-summary {
  font-size: 14px;
  line-height: 17px;
  display: inline-block;
  margin-top: 4px;
}
.listPrice--list-price-summary {
  display: flex;
  align-items: center;
  gap: 4px;
}
.listPriceValue--list-price-summary {
  font-size: 12px;
  line-height: 17px;
  color: #979797;
  display: inline-block;
  text-decoration: none !important;
}
.spotPrice {
  color: #4F4F4F;
}
.listPrice--list-price-pdp :global(.vtex-flex-layout-0-x-flexRow--unavailablecomponent) {
  display: none;
}
.listPrice--list-price-summary::before {
  content: 'Preço varejo:';
  font-size: 12px;
  line-height: 15px;
  color: #979797;
  margin-bottom: 2px;
  display: block;
}

.sellingPrice--selling-price-summary:not(.sellingPrice--selling-price-summary--hasListPrice)::before {
  content: ".";
  font-size: 12px;
  color: transparent;
  line-height: 15px;
  margin-bottom: 2px;
  display: block;
}



.savings {
  background: #C0E5FF;
  font-size: 14px;
  padding: 2px 10px;
  line-height: 18px;
  color: #1E1E1E;
}

/* PÁGINA DO PRODUTO */
.listPrice--list-price-pdp {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #979797;
  font-size: 14px;
  
}

.listPriceValue--list-price-pdp {
  text-decoration: none;
}

.listPrice--list-price-pdp::before {
  content: 'Preço varejo:';
  font-size: 14px;
  line-height: 15px;
  color: #979797;
  margin-bottom: 2px;
  display: block;
}

.sellingPrice--selling-price-pdp {
  display: block;
  margin: 0 0 4px;
}
.sellingPriceValue--selling-price-pdp {
  display: block;
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
  color: #201f1f;
}
.installments--installments-pdp {
  font-size: 12px;
  color: #666666;
  font-weight: 400;
  line-height: 15px;
}

@media (max-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexCol--spot-price-summary-content) .spotPrice {
    padding-top: 8px;
    border-top: 1px solid #CCCCCC;
  }

  .listPriceValue--list-price-summary {
    font-size: 12px;
    line-height: 15px;
    margin-right: 5px;
  }

  .currencyContainer--selling-price-summary {
    font-size: 16px;
    line-height: 20px;
  }
  .installments--installments-summary,
  :global(.vtex-flex-layout-0-x-flexCol--spot-price-summary-content) .spotPrice {
    font-size: 12px;
    line-height: 15px;
  }
}