/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a8a8a8;
}
::-webkit-scrollbar-thumb {
  background: #474747;
}

.emailVerification, .backButton {
  display: none;
}

.content--codeConfirmation {
  width: auto !important;
}

.sendButton {
  width: 100%;
  margin-left: 0;
}

/* MENU MOBILE */
:global(.vtex-category-menu-2-x-sidebarContainer) > div:last-child {
  padding: 0;
}

.container :global(.vtex-button) {
  border: 0;
  min-height: initial;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  width: 120px;
  overflow: hidden;
}
.profile {
  text-transform: initial;
  color: #1E1E1E;
  display: inline-block;
  max-width: 88px;
}
.button {
  color: #212121;
  text-transform: initial;
  padding: 0;
}
.contentForm :global(.vtex-button) {
  color: #225289;
  text-decoration: underline;
}
.contentForm :global(.vtex-button):hover {
  background: none;
}
.contentForm :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0;
}
.container :global(.vtex-button)::before {
  content: url(assets/icons/login.svg);
  line-height: 0;
}
.container :global(.vtex-button):hover,
.container :global(.vtex-button):focus {
  background: transparent;
}
.container :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
}
.container :global(.vtex-button) .label {
  padding: 0;
  font-size: 0;
  text-transform: initial;
  color: #1E1E1E;
  display: inline-block;
  text-align: left;
}
.container :global(.vtex-button) .label::before {
  content: 'Entrar ou';
  font-size: 14px;
  display: block;
}
.container :global(.vtex-button) .label::after {
  content: 'Cadastrar';
  font-size: 14px;
  font-weight: 700;
}
.arrowUp {
  display: none;
}
.container :global(.vtex-button) :global(.vtex-button__label) * {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.box {
  right: 50% !important;
  transform: translate(50%, 0);
}

.sendButton :global(.vtex-button) {
  background: #202020;
  border: 0;
}
.optionsList :global(.vtex-button) {
  border: 0;
  font-size: 12px;
  color: #202020;
  background: #dedede;
}
.optionsList :global(.vtex-button):hover {
  box-shadow: inset 0 0 0 1px #212121;
}
.inputContainer :global(.vtex-styleguide-9-x-input) {
  font-size: 14px;
}

.content--emailVerification {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 30px 0 60px;
}

/* Página do produto */
:global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  max-width: 576px;
  width: 100% !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--product-main-container)
  > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):last-child {
  max-width: 445px;
  width: 100% !important;
}
:global(.vtex-address-form__postalCode-forgottenURL) * {
  color: #696969;
  text-decoration: underline;
}
:global(.vtex-address-form__postalCode-forgottenURL)
  :global(.vtex__icon-external-link) {
  display: none;
}

/* PAINEL DO CLIENTE */
:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link) {
  border-width: 3px;
  transition: all 0.3s ease-in-out;
}
:global(.vtex-my-account-1-x-menuLinks)
  :global(.vtex-account_menu-link.b--action-primary),
:global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link):hover {
  border-color: #FF6712;
}
:global(.vtex-account) :global(.vtex-pageHeader__container) > div {
  margin: 0;
}
:global(.vtex-my-account-1-x-profileBoxContainer) > div,
:global(.vtex-my-account-1-x-newsletterBoxContainer) > div {
  padding: 0;
}
:global(.vtex-my-account-1-x-profileBoxContainer) > div {
  margin-right: 41px;
}
:global(.vtex-profile-form-3-x-profileSummary) > div + div {
  margin: 32px 0 0;
}
:global(.vtex-profile-form-3-x-profileSummary) > div > div {
  margin: 0;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  > :global(.vtex-button),
.sendButton :global(.vtex-button) {
  background: #225289;
  border: 0;
  padding: 12px 16px;
  border-radius: 7px;
  transition: all 0.3s ease-in-out;
  color: #fff;
  text-transform: initial;
  text-decoration: none;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  > :global(.vtex-button:hover),
.sendButton :global(.vtex-button):hover {
  background: #225289;
}
:global(.vtex-my-account-1-x-profileEdit)
  :global(.vtex-profile-form-3-x-profileContainer)
  :global(.vtex-button__label),
.sendButton :global(.vtex-button) :global(.vtex-button__label) {
  padding: 0 !important;
}

:global(.vtex-pageHeader-link__container) :global(.vtex-button) span {
  text-transform: initial;
}

:global(.vtex-my-account-1-x-boxContainerBody)
  :global(.vtex-address-form__postalCode-forgottenURL)
  a {
  color: #225289;
  font-size: 14px;
  line-height: 19px;
}

:global(.vtex-my-account-1-x-addressBox)
  :global(.vtex-my-account-1-x-boxContainerBody)
  > div {
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--store-info-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
  max-width: 268px;
  width: 100% !important;
  padding: 10px 0;
}

/* PDP */
:global(.vtex-store-components-3-x-productDescriptionText) h1,
:global(.vtex-store-components-3-x-productDescriptionText) h2,
:global(.vtex-store-components-3-x-productDescriptionText) h3,
:global(.vtex-store-components-3-x-productDescriptionText) h4,
:global(.vtex-store-components-3-x-productDescriptionText) h5,
:global(.vtex-store-components-3-x-productDescriptionText) h6 {
  font-size: 16px;
  font-weight: 700
}
:global(.vtex-flex-layout-0-x-flexColChild--buy-pdp-content) :global(.vtex-button.bg-disabled) {
  opacity: 0.7;
  background: #003030;
  color: #fff;
}

/* SUCESSO DO PEDIDO */
:global(.vtex-order-placed-2-x-confirmationIconWrapper) > svg {
  display: none;
}

@media (min-width: 1100px) {
  .container :global(.vtex-button):hover {
    background: #f4f4f426;
  }
}

@media (max-width: 1025px) {
  .container :global(.vtex-button) {
    padding: 6px 10px 6px 0;
    width: initial;
  }
  .container :global(.vtex-button)::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='25' viewBox='0 0 25 25' fill='none'%3E%3Cmask id='mask0_82_15438' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='25' height='25'%3E%3Crect x='0.246338' y='0.188232' width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_82_15438)'%3E%3Cpath d='M6.09634 17.2882C6.94634 16.6382 7.89634 16.1257 8.94634 15.7507C9.99634 15.3757 11.0963 15.1882 12.2463 15.1882C13.3963 15.1882 14.4963 15.3757 15.5463 15.7507C16.5963 16.1257 17.5463 16.6382 18.3963 17.2882C18.9797 16.6049 19.4338 15.8299 19.7588 14.9632C20.0838 14.0966 20.2463 13.1716 20.2463 12.1882C20.2463 9.97157 19.4672 8.08407 17.9088 6.52573C16.3505 4.9674 14.463 4.18823 12.2463 4.18823C10.0297 4.18823 8.14217 4.9674 6.58384 6.52573C5.0255 8.08407 4.24634 9.97157 4.24634 12.1882C4.24634 13.1716 4.40884 14.0966 4.73384 14.9632C5.05884 15.8299 5.513 16.6049 6.09634 17.2882ZM12.2463 13.1882C11.263 13.1882 10.4338 12.8507 9.75884 12.1757C9.08384 11.5007 8.74634 10.6716 8.74634 9.68823C8.74634 8.7049 9.08384 7.87573 9.75884 7.20073C10.4338 6.52573 11.263 6.18823 12.2463 6.18823C13.2297 6.18823 14.0588 6.52573 14.7338 7.20073C15.4088 7.87573 15.7463 8.7049 15.7463 9.68823C15.7463 10.6716 15.4088 11.5007 14.7338 12.1757C14.0588 12.8507 13.2297 13.1882 12.2463 13.1882ZM12.2463 22.1882C10.863 22.1882 9.563 21.9257 8.34634 21.4007C7.12967 20.8757 6.07134 20.1632 5.17134 19.2632C4.27134 18.3632 3.55884 17.3049 3.03384 16.0882C2.50884 14.8716 2.24634 13.5716 2.24634 12.1882C2.24634 10.8049 2.50884 9.5049 3.03384 8.28823C3.55884 7.07157 4.27134 6.01323 5.17134 5.11323C6.07134 4.21323 7.12967 3.50073 8.34634 2.97573C9.563 2.45073 10.863 2.18823 12.2463 2.18823C13.6297 2.18823 14.9297 2.45073 16.1463 2.97573C17.363 3.50073 18.4213 4.21323 19.3213 5.11323C20.2213 6.01323 20.9338 7.07157 21.4588 8.28823C21.9838 9.5049 22.2463 10.8049 22.2463 12.1882C22.2463 13.5716 21.9838 14.8716 21.4588 16.0882C20.9338 17.3049 20.2213 18.3632 19.3213 19.2632C18.4213 20.1632 17.363 20.8757 16.1463 21.4007C14.9297 21.9257 13.6297 22.1882 12.2463 22.1882ZM12.2463 20.1882C13.1297 20.1882 13.963 20.0591 14.7463 19.8007C15.5297 19.5424 16.2463 19.1716 16.8963 18.6882C16.2463 18.2049 15.5297 17.8341 14.7463 17.5757C13.963 17.3174 13.1297 17.1882 12.2463 17.1882C11.363 17.1882 10.5297 17.3174 9.74634 17.5757C8.963 17.8341 8.24634 18.2049 7.59634 18.6882C8.24634 19.1716 8.963 19.5424 9.74634 19.8007C10.5297 20.0591 11.363 20.1882 12.2463 20.1882ZM12.2463 11.1882C12.6797 11.1882 13.038 11.0466 13.3213 10.7632C13.6047 10.4799 13.7463 10.1216 13.7463 9.68823C13.7463 9.2549 13.6047 8.89657 13.3213 8.61323C13.038 8.3299 12.6797 8.18823 12.2463 8.18823C11.813 8.18823 11.4547 8.3299 11.1713 8.61323C10.888 8.89657 10.7463 9.2549 10.7463 9.68823C10.7463 10.1216 10.888 10.4799 11.1713 10.7632C11.4547 11.0466 11.813 11.1882 12.2463 11.1882Z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E");
  }

  :global(.vtex-store-components-3-x-userAddressContainer--shopper-location) > section > div > div {
    justify-content: center;
  }

  .box {
    right: -30px !important;
    transform: translate(0, 0);
  }

  :global(.vtex-my-account-1-x-profileBoxContainer) > div {
    margin-right: 30px;
  }
}

@media (max-width: 767px) {
  :global(.vtex-account__page-body) > main {
    gap: 45px;
  }
  :global(.vtex-account__page-body) > main > div {
    width: 100%;
  }
  :global(.vtex-my-account-1-x-profileBoxContainer) > div {
    margin-right: 0;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--store-info-container) > :global(.vtex-flex-layout-0-x-stretchChildrenWidth):first-child {
    padding: 0;
  }

  .container :global(.vtex-button) .label {
    color: #fff;
  }
}

@media (max-width: 720px) {
  :global(.vtex-my-account-1-x-addressBox) > div,
  :global(.vtex-account__page-body) > div {
    max-width: 100%;
    width: 100%;
    padding-right: 0;
    flex-wrap: wrap;
  }

  :global(.vtex-my-account-1-x-profile__header) > div:first-child {
    display: block;
  }
  :global(.vtex-my-account-1-x-profile__header) > div:last-child {
    display: none;
  }
}