.flexRowContent--main-nao-autorizado {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-menuLinks),
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-newsletterBoxContainer),
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-userImage),
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-menu),
  .flexRowContent--main-nao-autorizado :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper ) {
    display: none !important;
  } */
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-menuLinks) :global(.vtex-account_menu-link) {
    display: none;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-menuLink) {
    font-weight: 800;
    color: #00aae3;
    font-size: 15px;
    padding: 0;
    position: relative;
    bottom: 1.8rem;
    margin-left: 0;
    border: unset;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper ) {
    display: none !important;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-userImage) {
    margin-bottom: 10px;
  }
  
  .flexRowContent--main-nao-autorizado .stretchChildrenWidth {
    width: 100% !important;
    justify-content: center;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-rich-text-0-x-container) {
    justify-content: center;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-rich-text-0-x-paragraph) {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-pageHeader__container) {
    padding: 0;
    margin-bottom: 20px;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-account__page-body) {
    padding: 0;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-account) .w-100 {
    padding: 0;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-dataEntryChildren) {
    background-color: #f0f0f070;
    padding: 16px;
    padding-right: 0;
    margin-right: 10px;
    height: 50px;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-account__page) {
    position: relative;
    bottom: 3rem;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-profileBoxContainer) :global(.vtex-button__label) {
    color: #00aae3;
    margin-right: 35px;
    font-weight: 600;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-profile-form-3-x-profileContainer) :global(.vtex-button) {
    background-color: #00aae3;
    padding: 15px;
    border: unset;
    border-radius: 0;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-input-prefix__group) {
    margin-right: 0;
  }
  
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-dateOfBirthSubContainer),
  .flexRowContent--main-nao-autorizado :global(.vtex-my-account-1-x-phoneNumberSubContainer) {
    margin-bottom: 0;
  }
  
  :global(.vtex-my-account-1-x-documentsSubContainer) :global(.vtex-my-account-1-x-dataEntryLabel) {
    font-size: 0;
    height: 19px;
  }
  
  @media (max-width: 650px) { 
    .flexRowContent--main-nao-autorizado :global(.vtex-pageHeader__container) {
      margin-top: 4rem;
    }
  
    .flexRowContent--main-nao-autorizado :global(.vtex-rich-text-0-x-paragraph) {
      width: 90%;
    }
  }