.modal {
    width: 800px;
    display: flex;
    justify-content: center;
    padding-block: 46px;
    padding-inline: 15px;
}

.conteudoModal {
    max-width: 527px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteudoModal .textoTopo {
    margin-bottom: 37px;
}

.conteudoModal .textoTopo p {
    max-width: 469px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.conteudoModal .tituloModal {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 21px;
    text-align: center;
}

.conteudoModal .fieldsForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 1rem;
    row-gap: 7px;
    margin-bottom: .5rem;
}

.conteudoModal .fieldsForm input {
    max-width: 255px;
    width: 100%;
    height: 31px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #ccc;
    padding-inline: 10px;
}

.conteudoModal .fieldsForm input:focus {
    outline: none;
}

.conteudoModal .btnCadastrar {
    width: 100%;
    height: 45px;
    background-color: #225289;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    padding: 12px;
    border: none;
    font-family: "Exo", sans-serif;
    margin-bottom: 21px;
}

.conteudoModal .btnCadastrar:focus {
    outline: none;
}

.conteudoModal .containerCheckbox {
    display: flex;
    align-items: center;
}

.conteudoModal .containerCheckbox {
    margin-bottom: 10px;
}

.conteudoModal .containerCheckbox label {
    font-size: 12px;
    font-weight: 400;
    margin-left: 6px;
}