:global(.vtex-store-components-3-x-container) {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

:global(.login-b2e) {
  text-align: center;
}

:global(.title-b2e h1) {
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    font-weight: 700;
    margin: 0;
  }
  
  :global(.title-b2e p) {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    margin-top: 1rem;
  }
  
  :global(.bg-funcionario) {
    background-image: url("./images/bg-login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 562px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  :global(.rodape-b2e) {
    padding-block: 37px;
  }

  :global(.infos-texto) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  :global(.infos-texto p) {
    font-size: 14px;
    color: #979797;
    margin: 0;
  }

  :global(.infos-texto .logos-rodape) {
    display: flex;
    gap: 34px;
  }

  :global(.infos-texto .logo) {
    display: flex;
    gap: 14px;
  }

  :global(.infos-texto .logos-rodape img) {
    object-fit: cover;
  }
  
  @media (max-width: 991px) {
    :global(.vtex-store-components-3-x-container) {
      max-width: 100%;
    }
  
    :global(.infos-texto p) {
      text-align: center;
    }
  
    :global(.title-b2e h1) {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    :global(.title-b2e h1 span) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  
  @media (max-width: 475px) {
    :global(.bg-funcionario) {
      background-image: url("./images/bg-login.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }