.clientGreeting p {
  margin: 0;
  font-size: 13px;
  line-height: 13px;
  font-weight: 300;
}

.clientGreeting strong {
  display: flex;
  font-weight: 700;
}

.clientGreeting strong span {
  display: inline-block;
  max-width: 70px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .clientGreeting {
    display: none;
  }
}