.quantitySelectorContainer {
  margin: 0;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper-container) {
  position: relative;
  z-index: 0;
  max-width: 80px;
  width: 100%;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__input) {
  width: 100%;
  height: 50px;
  box-shadow: rgba(0,0,0,0.2) -2px 1px 11px -4px;
  border: 0;
  padding: 0 28px 0 5px;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button-container),
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button-container) {
  position: absolute;
  right: 4px;
  z-index: 5;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button-container) {
  top: 4px;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button-container) {
  bottom: 4px;
}
.quantitySelectorContainer :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorContainer :global(.vtex-numeric-stepper__minus-button) {
  max-width: 26px;
  height: 19px;
  line-height: 10px;
  border-radius: 0px;
  background: #e8e8e8;
  border: 0;
  color: #201f1f;
}
