.controlesconde p {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    color: #201f1f;
    margin: 0;
}

.listPrice--list-price-pdp .controlesconde, :global(.flexRow--prices-pdp-container) .controlesconde {
    display: none;
}